* {
    margin: 0;
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;

}

.app__headerImage {
    object-fit: contain;
}

.app {
    background-color: #fafafa;
}

.app__signup {
    display: flex;
    flex-direction: column;
}

.app__posts {
    padding: 20px;

    display: flex;
    justify-content: center;
}

.app__postsRight {
    margin-left: 20px;
}

.app__notLogged {
    text-align: center;
    padding: 20px;
}

.app__postButton {
    display: flex;
    justify-content: center; 
    padding: 50px;
}

.app__headerMenu {
    display: flex;
    align-items: center;
    
}

.app__headerMenuItem {
    padding: 10px 10px;
}

.app__headerMenu button {
    border: none;
    background-color: transparent;
}

.app__headerMenuItem:hover {
    background-color: rgb(236, 236, 236);
    border-radius: 999px;
    cursor: pointer;
}

.app__headerMenu .MuiSvgIcon-root {
    margin-left: 20px;
    height: 25px;
}